# Spam Detection Project .....

In [48]:
#import libraries
import pandas as pd 
import numpy as np 
import string
import nltk
from nltk.corpus import stopwords

In [50]:
df=pd.read_csv("spam.csv", encoding="ISO-8859-1" )
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [46]:
#print the first 5 rows of dataset..
df.head(5)

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [15]:
#get num of rows and columns..
df.shape

(5572, 5)

In [16]:
#get columns name ..
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [17]:
#check for duplicates and remove them..
df.drop_duplicates(inplace=True)

In [18]:
#print the new shape
df.shape

(5169, 5)

In [20]:
#show missinng value.
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5126
Unnamed: 3    5159
Unnamed: 4    5164
dtype: int64

In [21]:
#drop useless columns...
df.drop(["Unnamed: 2", "Unnamed: 3","Unnamed: 4"], axis = 1, inplace = True)

In [22]:
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5169 rows x 2 columns]

In [23]:
#downloading stopwords package ...

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\m\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [29]:
def procees_text(text):
    
    #remove punctuation 
    #this should remove punctuation from our text and store that new text in nopunc 
    nopunc =[char for char in text if char not in string.punctuation] 
    nopunc=''.join(nopunc)
    
    #remove stopwords
    clean_words=[word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
    
    #return a list of clean text words 
    return clean_words

In [30]:
#show tokenization 
df['v2'].head().apply(procees_text)

0    [Go, jurong, point, crazy, Available, bugis, n...
1                       [Ok, lar, Joking, wif, u, oni]
2    [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
3        [U, dun, say, early, hor, U, c, already, say]
4    [Nah, dont, think, goes, usf, lives, around, t...
Name: v2, dtype: object

In [31]:
#convert a collection of text to matrix of token..
from sklearn.feature_extraction.text import CountVectorizer
messages_bag_of_words = CountVectorizer(analyzer=procees_text).fit_transform(df['v2'])

In [33]:
#split data into train and test 
from sklearn.model_selection import train_test_split
x_train , x_test , y_train ,y_test=train_test_split(messages_bag_of_words, df['v1'],test_size=.20,random_state=0)

In [34]:
#shape of messages bag of word...
messages_bag_of_words.shape

(5169, 11304)

In [35]:
#create and train the naive bayes classifier ..
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB().fit(x_train,y_train)

In [38]:
#predictions 
print(classifier.predict(x_train))

#print actual values 
print (y_train.values)

['ham' 'ham' 'ham' ... 'ham' 'ham' 'ham']
['ham' 'ham' 'ham' ... 'ham' 'ham' 'ham']

In [43]:
#evaluate the model on the training dataset 
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
prediction =classifier.predict(x_train)
print (classification_report(y_train,prediction))
print()

print ('confusion matrix: \n', confusion_matrix(y_train,prediction))
print()
print ('Accuracy :' ,accuracy_score(y_train,prediction))

              precision    recall  f1-score   support

         ham       1.00      1.00      1.00      3631
        spam       0.98      0.98      0.98       504

    accuracy                           1.00      4135
   macro avg       0.99      0.99      0.99      4135
weighted avg       1.00      1.00      1.00      4135


confusion matrix:
 [[3623    8]
 [  11  493]]

Accuracy : 0.9954050785973397

In [44]:
#predictions 
print(classifier.predict(x_test))

#print actual values 
print (y_test.values)

['ham' 'ham' 'ham' ... 'ham' 'ham' 'ham']
['ham' 'ham' 'ham' ... 'ham' 'ham' 'ham']

In [45]:
#evaluate the model on the testing dataset 
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
prediction =classifier.predict(x_test)
print (classification_report(y_test,prediction))
print()

print ('confusion matrix: \n', confusion_matrix(y_test,prediction))
print()
print ('Accuracy :' ,accuracy_score(y_train,prediction))

              precision    recall  f1-score   support

         ham       0.99      0.96      0.97       885
        spam       0.80      0.93      0.86       149

    accuracy                           0.96      1034
   macro avg       0.89      0.94      0.92      1034
weighted avg       0.96      0.96      0.96      1034


confusion matrix:
 [[850  35]
 [ 11 138]]

Accuracy : 0.9555125725338491